// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  @include clearfix;
  text-align: center;
}

.menu-area{
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-list {
	display: block;
	margin: 0px;
}

.Navigation-link.is-active {
  text-decoration: underline;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: block;
  margin: 0 rem(10px);
  float: left;
  border-right: 1px solid #ccc;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:first-of-type {
  }
  &:last-of-type {
    margin-right: 0;
    border-right: 0px;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}
